* {
    margin: 0%;
    padding: 0%;

}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 50px;
}

#login_signup {
    display: flex;
    /* width: 20%; */
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar>a {
    background-color: rgb(80, 245, 25);
    padding: 2px 5px;
    border-radius: 6px;
    color: black;
}

input[type="search"] {
    border-radius: 10px;
    height: 80%;
    width: 30%;
    transition: all ease-in-out 0.5s;
    font-size: 20px;
}

input[type="search"]:hover {

    position: relative;
    top: 2%;
    width: 40%;
    height: 110%;
}

#login_signup a {
    margin-right: 10px;
}

#login_signup a:first-child {
    background-color: rgb(211, 248, 255);
    padding: 2px 5px;
    border-radius: 6px;
    color: black;
}

#login_signup a:last-child {
    background-color: rgb(207, 156, 224);
    padding: 2px 5px;
    border-radius: 6px;
    color: black;
}


#login_signup span:first-child {
    background-color: rgb(0, 217, 255);
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 6px;
    color: black;
    cursor: pointer;
}

#login_signup span:last-child {
    margin-left: 2px;
    background-color: red;

    padding: 2px 5px;
    border-radius: 6px;
    cursor: pointer;
}

@media (max-width:500px) {
    #navbar h2 {
        font-size: 12px;
    }

    #login_signup a:last-child {
        background-color: rgb(207, 156, 224);
        margin-top: 8px;
        padding: 0px 5px;
        border-radius: 6px;
        color: black;
    }

    #login_signup {
        flex-direction: column;
        justify-content: space-around;
    }

    #login_signup span:last-child {
        margin-top: 8px;
        padding: 0px 0px;
        /* width: 25px; */
        font-size: 14px;
        text-align: center;
    }

    #login_signup span:first-child {
        /* background-color: rgb(0, 217, 255); */
        margin-right: 2px;
        padding: 0px 0px;
        /* border-radius: 6px;/ */
        color: black;
        /* width: 25px; */
        font-size: 14px;

    }
}